<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/"><span class="fw-bolder text-primary">Francisco Robles</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" routerLink="/">{{'NAVBAR.HOME' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="resume">{{'NAVBAR.RESUME' | translate}}</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="projects">{{'NAVBAR.PROJECTS' | translate}}</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="contact">{{'NAVBAR.CONTACT' | translate}}</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="langDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ currentLang.toUpperCase() }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                        <li *ngFor="let lang of availableLangs">
                            <a class="dropdown-item" (click)="changeLanguage(lang)">{{ lang.toUpperCase() }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>