<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{'RESUME.TITLE' | translate}}</span>
        </h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">

            <section>
                <div
                    class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between mb-4 gap-3">
                    <h2 class="text-primary fw-bolder mb-0">
                        {{ 'RESUME.EXPERIENCE.TITLE' | translate }}
                    </h2>

                    <a class="btn btn-primary px-4 py-3" [href]="resumeUrl" download>
                        <div class="d-inline-block bi bi-download me-2"></div>
                        {{ 'RESUME.BUTTON' | translate }}
                    </a>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> 2021 - 2024</div>
                                    <div class="small fw-bolder">PROJECT LEADER - FULL STACK DEVELOPER</div>
                                    <div class="small text-muted">BIND ERP</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{'RESUME.EXPERIENCE.BIND2' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2018 - 2021</div>
                                    <div class="small fw-bolder">FULL STACK DEVELOPER</div>
                                    <div class="small text-muted"> BIND ERP</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div> {{'RESUME.EXPERIENCE.BIND' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> 2016 - 2018</div>
                                    <div class="small fw-bolder">FULL STACK DEVELOPER</div>
                                    <div class="small text-muted">UANL CDIS</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div> {{'RESUME.EXPERIENCE.CDIS' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="text-secondary fw-bolder mb-4">{{'RESUME.EDUCATION.TITLE' | translate}}</h2>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2"> 2021 - 2022</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Universidad Tecmilenio</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">MASTER OF BUSINESS ADMINISTRATION</div>
                                        <div class="small text-muted">DIGITAL MARKETING</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{'RESUME.EDUCATION.TECMI3' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2020 - 2021</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Universidad Tecmilenio</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">MASTER OF BUSINESS ADMINISTRATION</div>
                                        <div class="small text-muted">PROCESS QUALITY AND PRODUCTIVITY</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{'RESUME.EDUCATION.TECMI2' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2019 - 2020</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Universidad Tecmilenio</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">MASTER OF BUSINESS ADMINISTRATION</div>
                                        <div class="small text-muted">FINANCES</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{'RESUME.EDUCATION.TECMI1' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2010 - 2015</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder"> Universidad Autónoma de Nuevo León</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">BACHELOR'S DEGREE</div>
                                        <div class="small text-muted">Computer Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{'RESUME.EDUCATION.UANL' | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pb-5"></div>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i>
                                </div>
                                <h3 class="fw-bolder mb-0">
                                    <span class="text-gradient d-inline">{{'RESUME.SKILLS.TITLE' | translate}}</span>
                                </h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.1' | translate}}</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.2' | translate}}</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.3' | translate}}</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.4' | translate}}</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.5' | translate}}</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{'RESUME.SKILLS.6' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">{{'RESUME.STACK' |
                                        translate}}</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AngularJS /
                                        Angular</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript /
                                        TypeScript</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">.NET Framework /
                                        ASP.NET</div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL Server</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PostgreSQL</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML / CSS</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Azure</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git / Jira /
                                        Slack</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>